<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
    strong{
        color: blue;
        margin-right: 10px;
    }
    p{
        margin-right: 8px;
    }
    .brown{
        color: brown;
    }
    .green{
        color: green;
        font-style: italic;
    }

</style>

<div class="container mt-3">
            <div class="jumbotron">
                <h1 style="color:blue;">Ingrese datos</h1>
                <br>

                <form onsubmit="addProducto()">

                    <div class="form-group">
                        <label for="title"><b>title:</b></label>
                        <input id="title" class="form-control" type="text" name="title">
                    </div>
                    <div class="form-group">
                        <label for="price"><b>price:</b></label>
                        <input id="price" class="form-control" type="text" name="price">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail"><b>thumbnail:</b></label>
                        <input id="thumbnail" class="form-control" type="text" name="thumbnail">
                    </div>


                    <button class="btn btn-success mt-3 mb-5">Enviar</button>
                </form>

<div class="jumbotron tabla">
    <h1>Vista de Productos</h1>
    <br>
    
    {{!-- {{#if hayProductos}} 
        <div class="table-responsive">
            <table class="table table-dark">
                <tr><th>Nombre</th><th>Precio</th><th>Foto</th><th>Actualizado</th></tr>
                {{#each productos}}
                    <tr><td>{{this.title}}</td> <td>${{this.price}}</td> <td><img width="50" src={{this.thumbnail}} alt="not found"></td><td>{{this.actualizado}}</td></tr>
                {{/each}}
            </table>
        </div>
    {{else}}  
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}} --}}
</div>

<div class="Chat">

    <h1>A CHATEARRR!!!</h1>
    
    <div id="mensajes"></div>

    <form class="form-inline" onsubmit="return addMensajes(this)" >
    <input type="text" id="userName" placeholder="ingrese su mail @">
    <input type="text" id="texto" placeholder="Contanos algo">
    <input type="submit" value="Enviar">
    </form>  

</div>